@import url("https://fonts.googleapis.com/css2?family=DotGothic16&family=Syne:wght@400..800&display=swap");

* {
    box-sizing: border-box;
}

html {
    background-color: #e2c4e3;
    background-image: radial-gradient(
            circle farthest-side at 100% -50%,
            #6b7cff96,
            transparent
        ),
        radial-gradient(
            circle farthest-side at 90% -50%,
            #f582e2e0,
            transparent
        ),
        radial-gradient(circle farthest-side at 80% -50%, #f7eaa6, white);
    background-repeat: no-repeat;
}

body {
    font-family: Roboto, system-ui, sans-serif;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    color: #111;
}

h1,
h2,
h3,
h4,
h5,
legend {
    font-family: "Syne", sans-serif;
    line-height: 1.5;
    margin: 0;
}

header {
    padding: 2rem;
    max-width: 80ch;
    margin: 0 auto;
}

form {
    display: flex;
    flex-flow: row wrap;
    gap: 1em;
    padding: 1em;
    justify-content: center;
}
fieldset {
    background: #fff6;
    border: 1px solid #ccc;
    border-radius: 0.5em;
    width: 50ch;
}
legend {
    background: #f0f0f0;
    border: 1px solid #ccc;
    font-weight: bold;
    padding: 0.25em 1em;
}
fieldset > *,
fieldset label,
fieldset slider-input {
    display: block;
    margin: 0.5em 0;
}
form .container {
    margin-left: 1em;
    padding-left: 1em;
    border-left: dotted 4px #0003;
}

#output {
    background: #0009;
    backdrop-filter: blur(15px);
    color: #dfe;
    border: 1px solid #fff6;
    border-radius: 0.5em;
    box-shadow: 0 2px 14px #0006;
    padding: 1em;
    width: fit-content;
    margin: 1em auto;
    position: sticky;
    bottom: 0;
    line-height: 1;
    font-family: "DotGothic16", monospace;
    font-size: 0.875rem;
    text-shadow: 0 1px 2px #0009;
}
#output p {
    margin: 0.25em;
}
#output strong {
    font-family: "DotGothic16", monospace;
    font-size: 1.25rem;
}
footer {
    text-align: right;
    padding: 0.5em 1em;
}

p.hint {
    margin-top: 1.5rem;
    font-size: 0.875rem;
    font-style: italic;
}
